<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>考试平台</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="app">{{{content}}}</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/react/15.2.1/react.min.js"></script>
<script src="//cdn.bootcss.com/react/15.2.1/react-dom.min.js"></script>
<script src="//cdn.bootcss.com/react-router/2.5.2/ReactRouter.min.js"></script>
<script src="/assets/lib/tinymce/tinymce.min.js"></script>
<script src="/assets/lib/tinymce/langs/zh_CN.js"></script>
<script src="/assets/lib/plupload/moxie.min.js"></script>
<script src="/assets/lib/plupload/plupload.min.js"></script>
<script src="/assets/lib/plupload/i18n/zh_CN.js"></script>
<script src="/assets/lib/qiniu-js/qiniu.min.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>