.textarea {
  position: relative;
  display: inline-block;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 14rem;
  vertical-align: top;
}

.textarea__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.4em 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  resize: none;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.textarea__field:focus {
  outline: none;
}

.textarea__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textarea__label-content {
  position: relative;
  display: block;
  padding: 1em 0;
  width: 100%;
}

.textarea__field--ichiro {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 100;
  display: block;
  padding: 0.5rem 0.55em;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.textarea__label--ichiro {
  width: 100%;
  text-align: left;
  cursor: text;
}

.textarea__label--ichiro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.textarea__label-content--ichiro {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.textarea__field--ichiro:focus,
.textarea--filled .textarea__field--ichiro {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.textarea__field--ichiro:focus + .textarea__label--ichiro,
.textarea--filled .textarea__label--ichiro {
  cursor: default;
  pointer-events: none;
}

.textarea__field--ichiro:focus + .textarea__label--ichiro::before,
.textarea--filled .textarea__label--ichiro::before {
  -webkit-transform: scale3d(1, 1.23, 1);
  transform: scale3d(1, 1.23, 1);
}

.textarea__field--ichiro:focus + .textarea__label--ichiro .textarea__label-content--ichiro,
.textarea--filled .textarea__label-content--ichiro {
  -webkit-transform: translate3d(0, -2.3em, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -2.3em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}